node_modules/
.next/
out/
build/
dist/
*.log
.env
.env.local
.env.*.local
.DS_Store
auth.json
.fb-session.json

12.22.2025.env
fb-auto-poster-backups/

# Local Netlify folder
.netlify
set-secrets.ps1
